.Hero_section {
  background-image: url("/public/PetImage/girl-oversize-shirt-laughs-wholeheartedly-looks-her-dark-haired-man-holding-labrador.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgb(104, 103, 103);
  background-blend-mode: multiply;
}
