.Hero_section {
  background-image: url("14723858_job562-nunoon-05-a.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #0f172ab7;
}
