.nav-link li {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav-link li:hover {
  padding-left: 5px;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* hero_grid */

.box {
  height: 200px;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px lightgrey;
  animation: fadein 2s;
}
.container {
  background-image: url("/public/PetImage//pet-animal-foot-print-drawing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(240, 248, 255, 0.465);
  background-blend-mode: multiply;
  background-attachment: fixed;
  backdrop-filter: blur(10px);
}
.box:hover {
  transform: scale(1.1);
}
.about {
  background-image: url("/public/14723858_job562-nunoon-05-a.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(240, 248, 255, 0.465);
  background-blend-mode: multiply;
  background-attachment: fixed;
}
.Adoption {
  background-image: url("../public//PetImage//father-taking-pictures-mother-son-with-dog-park.jpg");
  background-color: rgba(39, 39, 40, 0.658);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.Adoption img:hover {
  transition: 1s ease-in-out;
  transform: scale(1.1);
}

/* image gallery component  styles begin */

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.Image-gallery::-webkit-scrollbar {
  display: none;
}
.suggestion-area p::-webkit-scrollbar {
  display: none;
}
.Image-gallery img {
  border-radius: 20px;
  height: 300px;
}
.Image-gallery img:hover {
  transform: scale(1.1);
  transition: 1s;
}
.form-container::-webkit-scrollbar {
  display: none;
}
/* image gal
lery component  styles end */
