.nav-link li {
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.nav-link li:hover {
  padding-left: 5px;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* hero_grid */
.Hero_section {
  animation: fadein 1s;
}
.box {
  height: 200px;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0px 0px 10px lightgrey;
  animation: fadein 2s;
}

.box:hover {
  transform: scale(1.1);
}
.about {
  background-image: url("/public/14723858_job562-nunoon-05-a.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(240, 248, 255, 0.465);
  background-blend-mode: multiply;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
